* {
  border: none;
  border-radius: 10px;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 24px;
  min-height: 0;
}

window#waybar {
  margin-top: 5px;
  background-color: rgba(44, 44, 44, 0);
  color: #cdd6f4;
}

window#waybar.hidden {
  opacity: 0.2;
}

tooltip {
  background: #3e4556;
  border-radius: 10px;
}

#workspaces button {
  padding: 5px;
  color: #a6adc8;
  margin-right: 5px;
}

#workspaces button.active {
  color: #eba0ac;
}

#workspaces button:hover {
  background: #37474f;
  border-radius: 10px;
}

window > box {
  margin-top: 5px;
  background-color: rgba(44, 44, 44, 0.6);
}

#custom-icon,
#window,
#clock,
#cpu,
#disk,
#battery,
#custom-cava,
#pulseaudio,
#bluetooth,
#tray,
#backlight {
  padding: 0px 10px;
}

#custom-icon {
  color: #00bfff;
}

#cpu {
  color: #89b4ff;
  margin-left: 10px;
}

#disk {
  color: #fab387;
  margin-left: 10px;
}

#custom-cava {
  color: #33cccc;
  margin-left: 10px;
}

#tray {
  margin-left: 10px;
  background-color: #9c9c9c;
}

#clock {
  color: #fab39f;
  margin-left: 10px;
}

#bluetooth {
  color: #89b4ff;
}

#pulseaudio {
  color: #89b4ff;
}

#battery {
  color: #a6e7af;
}
