* {
  border: none;
  border-radius: 10px;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 24px;
  min-height: 0;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #cdefff;
}

window#waybar.hidden {
  opacity: 0.2;
}

tooltip {
  background: #3e4556;
  border-radius: 10px;
}

#workspaces button {
  padding: 5px;
  color: #a6adc8;
  margin-right: 5px;
  border-radius: 10px 10px 10px 10px;
}

#workspaces button.active {
  color: #eba0ac;
}

#workspaces button:hover {
  background: #37474f;
  border-radius: 10px;
}

#custom-icon,
#window,
#clock,
#cpu,
#memory,
#disk,
#battery,
#custom-cava,
#pulseaudio,
#bluetooth,
#tray,
#backlight {
  padding: 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
}

#custom-icon {
  color: #00bfff;
  border-radius: 10px 10px 10px 10px;
}

#cpu {
  color: #89b4ff;
  border-radius: 10px 0px 0px 10px;
  margin-left: 10px;
}
#memory {
  color: #89b4ff;
  border-radius: 0px 10px 10px 0px;
}

#disk {
  color: #fab387;
  border-radius: 10px;
  margin-left: 10px;
  border-right: 0px;
}

#custom-cava {
  color: #33cccc;
  margin-left: 10px;
}

#backlight {
  border-radius: 0px 0px 0px 0px;
}

#tray {
  margin-left: 10px;
  margin-right: 10px;
}

#window {
  margin-left: 10px;
  margin-right: 0px;
}

#clock {
  color: #fab39f;
  border-radius: 10px 10px 10px 10px;
  margin-left: 10px;
  border-right: 0px;
}

#bluetooth {
  color: #89b4ff;
  border-radius: 10px 0px 0px 10px;
  margin-right: 0px;
}

#pulseaudio {
  color: #89b4ff;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px 0px 0px 0px;
}

#battery {
  color: #a6e7af;
  border-radius: 0px 10px 10px 0px;
}
