[manager]
layout = [1, 3, 4]
sort_by = "natural"
sort_dir_first = true
sort_sensitive = false
sort_reverse = false
linemode = "size"

[preview]
tab_size = 2
max_width = 1500
max_height = 1800

[log]
enabled = false

[[plugin.prepend_fetchers]]
id = "git"
name = "*"
run = "git"

[[plugin.prepend_fetchers]]
id = "git"
name = "*/"
run = "git"
